:root {
  --background: #101114;
  --primary-color: #bbbbbb;
  --accent-color: #88a8a0;
  --text-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}
body {
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appointment-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 400px;
}

.appointment-bubble {
  padding: 4px 7px;
  background-color: var(--primary-color);
  border-radius: 15px;
  cursor: pointer;
}

input[type="radio"]:checked ~ .appointment-bubble {
  background-color: var(--accent-color);
}

input[type="radio"] {
  display: none;
}
